# Autotools generated
autom4te.cache/
aclocal.m4
configure
configure~
config.h
config.h.in
config.h.in~
config.log
config.status
stamp-h1
Makefile
Makefile.in
.deps/
/build-aux/
INSTALL
.dirstamp
*.o
*.tar.gz
*.tar.xz
/genesis-*/

# Build products
src/genesis
genesis
*.class

# Test build output
test/build/

# jtreg integration
test/fake-jdk/bin/java
jtreg-work/
jtreg-report/

# Editor files
*.dSYM/
.DS_Store
*~
